<%- model_class = Ringtone -%>
<div class="page-header">
  <h2>Ringtones<%= image_tag("images.jpg", height: '32', width: '32') %></h2>

</div>
 <!-- 
<%= form_tag ringtones_path, :method => 'get' do %>
 <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
 -->

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:delete_ring_tone) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ringtones.each do |ringtone| %>
      <tr>
        <td><%= ringtone.name %></td>
        <td><%= ringtone.delete_ring_tone %></td>
        <td><%=l ringtone.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ringtone_path(ringtone), :class => 'btn btn-mini' %>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      ringtone_path(ringtone), :class => 'btn btn-mini btn-info' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ringtone_path(ringtone),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ringtone_path,
            :class => 'btn btn-primary' %>
